<nav class="main-navigation">
    <ul>
        <li><a href="{{ '/' | relative_url }}">Home</a></li>
        <li><a href="{{ '/slides/01-whats-vibe-coding/' | relative_url }}">What's Vibe Coding</a></li>
        <li><a href="{{ '/slides/02-common-habits/' | relative_url }}">Common Habits</a></li>
        <li><a href="{{ '/slides/03-do-it-right/' | relative_url }}">Do it right!</a></li>
        <li><a href="{{ '/slides/04-enterprise-alignment/' | relative_url }}">Enterprise Alignment</a></li>
        <li><a href="{{ '/slides/05-adoption-framework/' | relative_url }}">Adoption Framework</a></li>
    </ul>
</nav>
